header{

    width: 100%;
    @include flex();
    padding: 2rem 2.5rem;
    @include fix-position(0,auto,auto,0);
    z-index: 1;

    .logo{
        font-size: 1.6rem;
        color: $white;
        text-decoration: none;
        text-shadow: $shadow;
    }

    .navbar{
        
        ul{
            @include flex(center, space-around);

            li{
                margin: 0 2rem;

                a{
                    font-size: 2rem;
                    text-decoration: none;
                    color: $white;
                    text-shadow: $shadow;

                    &:hover{
                        color: $blue;
                    }
                }
            }
        }

    }

    .fa-bars{
        font-size: 3rem;
        color: $white;
        cursor: pointer;
        z-index: 1000;
        display: none;

        @media(max-width:768px){

            display: block;

        }
    }

    @media(max-width:768px){

        .navbar{
            @include fix-position(0,auto,auto,-120%);
            @include box(100vw,100vh);
            z-index: 100;
            background: $black-hover;

            ul{
                @include box(35rem,100%);
                background:$navbar;
                flex-flow: column;
                justify-content: center;

                li{
                    margin: 2rem 0;

                    a{
                        font-size: 3rem;
                    }
                }
            }

            &.active{
                left: 0;
            }
        }

    }

}